body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("ocean.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px); /*safari*/

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
	top: 50%;
	left: 50%;
	color: white;
	width: 40%;
	height: 30%;
	padding: 0px;
	text-align: center;
	transform: translate(-50%, -50%);
	position: absolute;
	border: 3px solid #f1f1f1;
	background-color: rgba(0,0,0, 0.2);

	transition: width 4s, height 4s;
	-webkit-transition: width 4s, height 4s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
}

.box:hover {
	width: 80%;
	height: 80%;
}

.box:hover #HiddenText {
	visibility: visible;
	opacity: 1;
}

#HiddenText {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s;
	transition-delay: 4s;
}

.logo {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 60px;
}
 
	
.slogan {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 20px;
}

.goal {
	text-align: center;
	font-size: 20px;
	position: absolute;
	
}