/*.bg {
	background-image: url("ocean.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

h1 {
	font-size: 48;
	color: blue;
	font-family: Helvetica;
}*/